* {
    box-sizing: border-box;
}

:root {
    --color-bg-sky-top0: #121e52;  
    --color-bg-sky-top1: #433dc2; 
    --color-bg-sky-mid: #9d80dc;    
    --color-bg-sky-bottom: #e7e6c5;

    --color-bg-dark: #020617;
    --color-bg-card: rgba(30, 27, 75, 0.7);

    /* --color-bg-dark: #020617; 
    --color-bg-card: rgba(15, 23, 42, 0.8); */

    --color-wall-blue: #1e3a8a;
    --color-yellow: #debc24;  
    --color-red: #d14d61; 
    --color-gray: #9ca3af;

    --color-text-light: #d5ecf2;

    --bg-gradient-title: linear-gradient(135deg, #ffffff 0%, #bae6fd 40%, #e5b3f9 100%);
    --bg-gradient-hover: linear-gradient(135deg, #f0e1dc 0%, #e5b3f9 100%);    
        
    --color-cage: #493917;
    --color-path: #070617;           
    --color-wall: #303969b8; 

    --color-fragment: #941e8e;  
    --color-accent: #e5b3f9;     

    --color-footerlink: #bae6fd;
    --color-footline: #83e7eb;

    --moon-glow: #bbe9f4; 
    --moon-mist: #60A69F; 
    --moon-shadow: #1C4E59; 
    
    /* --color-moon-1: #05162f;
    --color-moon-2: #1C4E59;
    --color-moon-3: #45858C;
    --color-moon-4: #60A69F;
    --color-moon-5: #bbe9f4; */

    --color-moon-1: #336e96;
    --color-moon-2: #284e79;         
    --color-moon-3: #312e81;        
    --color-moon-4: #6366f1;        
    --color-moon-5: #bae6fd;

    --color-1: #0F172A;
    --color-2: #4840da;

    --color-3: #C084FC;
    --color-33:#297881;
    --color-4: #93C5FD;
    --color-5: #F47286;
    --color-6: #d2fffb; 
    --color-7: #CCFBF1;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: var(--color-6);
    padding: 2rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    
    background: linear-gradient(180deg, 
                var(--color-bg-sky-top0) 0%,
                var(--color-bg-sky-top1) 20%, 
                var(--color-bg-sky-mid) 50%, 
                var(--color-bg-sky-bottom) 100%);
    background-size: 100% 200%;
    animation: auroraFlow 20s ease-in-out infinite alternate;
}

.border{
    border-style:dotted solid;
}